#menu-bar {
  color: #000;
}

.sublist_1 {
  display: none;
}

#menu-bar ul li:hover .sublist_1 {
  display: block;
  position: absolute;
  background-color: white;
  margin-top: 15px;
  margin-left: -15px;
  z-index: 10;
}
#menu-bar ul li:hover .sublist_1 ul li {
  text-align: left;
  padding: 10px 20px;
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
  list-style: none;
}

#catagories {
  cursor: pointer;
}

.cat_list {
  position: absolute;
  margin-top: 15px;
  display: block;
  list-style: none;
  text-align: left;
  color: #000;
  background-color: #fff;
  transition: 0.3s;
}

.cat_list li {
  padding: 10px;
  padding-left: 20px;
}
